.ml2 {
  font-weight: 900;
  font-size: 3.5em;
}

.ml2 .letter {
  display: inline-block;
  line-height: 1em;
}


.ml6 {
  position: relative;
  font-weight: 900;
  font-size: 1.3em;
}

.ml6 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}













a { transition: all 0.3s ease; }
a:hover, a:focus, a.active {
    color: #58d5ff;
    text-decoration: none;
}

.tm-welcome-section {
    height: 83vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E7A7C0;
    background-image: url('../img/insertion-header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
    max-height: 700px;
    min-height: 400px;
}

.tm-fa-big { font-size: 5em; }
.tm-fa-mb-big { margin-bottom: 3rem; }

.tm-navbar-container {
    position: absolute;
    top: 0;
}

.navbar-nav { margin-right: 0; }
.nav-link { font-size: 1.4rem; }

.tm-site-description {
    font-size: 1.6rem;
    color: white;
}

.navbar-expand-sm .navbar-nav .nav-link { padding: 10px 20px; }
.navbar-nav { flex-direction: row; }
.tm-site-name { font-size: 4rem;
		color: white }

.tm-search-form-container {
    border-radius: 15px;
    border: 4px solid white;
    background-color: #b35e6c;
    margin-top: -54px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.tm-search-form {
    width: 100%;
    height: 96px;
    font-size: 1.2rem;
}

.tm-search-box {
    padding-left: 28px;
    padding-right: 28px;
    width: 60%;
}

.tm-advanced-box { width: 20%; }
.tm-font-300 { font-weight: 300; }
.tm-text-gray, .tm-link-gray { color: #666666; }
.tm-text-white { color: #fff; }
.tm-text-blue { color: #6e9ece; }
.tm-text-blue-dark { color: #006699; }
.tm-text-pink { color: #D6688F; }
.tm-text-pink-dark { color: #CC6699; }
.tm-text-brown { color: #CC6666; }
.tm-bg-gray { background-color: #F2F2F2; }
.tm-bg-pink { background-color: #de7099; }
.tm-bg-pink-light { background-color: #f9e3eb; }
.tm-bg-pink-light-2 { background-color: #EDAABC; }
.tm-bg-blue { background-color: #6699cc; }.nav-tabs .nav-item {
    margin-bottom: 20px;
    width: 100%;
}

.nav-tabs .nav-item:last-child { margin-bottom: 0; }
.tm-media-link { font-size: 1.2rem; }

.tm-about-row {
    max-width: 1190px;
    margin-left: auto;
    margin-right: auto;
}


.nav-tabs .nav-link {
    border-radius: 0;
    border: none;
    color: #666666;
}

.nav-tabs { border-bottom: 0; }

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active,
.nav-tabs .nav-link:hover {
    background-color: #EDAABC;
    color: white;
}


@media (min-width: 576px) {
    .tm-albums-container { max-width: none; }
    .navbar-expand-sm .navbar-nav .nav-link { padding: 20px 40px; }
    .navbar-nav { margin-right: -40px; }
}

@media (min-width: 768px) {
    .tm-albums-container { max-width: 540px; }
}

@media (min-width: 992px){
    .tm-albums-container { max-width: none; }
    figure.effect-sadie h2 { bottom: 20%; }
}

@media (min-width: 1200px){
    .container { max-width: 1230px; }
    figure.effect-sadie h2 { bottom: 10%; }
    .tm-radio-label:last-child { margin-right: 30px; }
}

@media (max-width: 1199px) {
    .tm-new-release {
        font-size: 1.1rem;
        padding-left: 35px;
        padding-right: 35px;
    }
}

@media (max-width: 991px) {
    .tm-welcome-section { height: 70vh; }

    .tm-about-col-left { margin-bottom: 20px; }
    .tm-about-text { padding: 50px; }

    .tm-about-text, .tm-about-img {
        margin-left: auto;
        margin-right: auto;
    }

    .form-inline .form-control.tm-search-input {
        width: 60%;
    }

    .tm-advanced-box {
        font-size: 1rem;
        padding-right: 30px;
    }

    .tm-subscribe-img { padding-right: 0; }
    .tm-mt-big { margin-top: 60px; }
    .tm-mb-big { margin-bottom: 80px; }
    .tm-mb-medium { margin-bottom: 40px; }

    .tm-subscribe-row {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    .tm-tab-link { padding: 15px 25px; }
    .tm-tab-link .fa-2x { font-size: 1.8rem; }
    .tm-tab-link .tm-media-link { font-size: 1rem; }
	
	.tm-tab-links-container {
        flex: 0 0 100%;
        padding-right: 15px;
    }
    .tm-tab-content-container {
        flex: 0 0 100%;
        margin-top: 15px;
        padding-left: 15px;
    }
	
    .tm-media-2-icon { margin-right: 30px; }
    .tm-media-2 { padding: 35px 30px; }
    .tm-contact-col { flex-wrap: wrap; }
    .tm-contact-left {
        flex: 0 0 30%;
        margin-right: 0;
    }

    .tm-contact-middle {
        flex: 0 0 67%;
        margin-right: 0;
        max-width: none;
    }

    .tm-contact-right {
        flex: 0 0 100%;
        margin-top: 20px;
        max-width: none;
    }

    iframe { width: 100%; }
}

@media (max-width: 767px) {
    .tm-welcome-section { height: 60vh; }
    .tm-fa-big { font-size: 4em; }
    .tm-fa-mb-big { margin-bottom: 2rem; }
    .tm-site-name { font-size: 3rem; }
    .tm-site-description { font-size: 1.3rem; }
    .tm-new-release {
        width: 100%;
        padding: 20px;
        justify-content: center;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
    }

    .tm-search-form {
        flex-flow: column;
        height: auto;
    }

    .form-inline .form-group.tm-search-box {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
    }

    .form-inline .form-control.tm-search-input {
        width: calc(100% - 141px);
    }

    .form-inline .form-control.tm-search-submit {
        width: 121px;
    }

    .form-inline .form-group.tm-advanced-box {
        width: auto;
        margin-bottom: 20px;
        margin-top: 10px;
        padding-right: 0;
    }

    .tm-search-form-container { margin-top: -70px; }
    .tm-tab-link { padding: 33px 30px; }
    .tm-tab-link .fa-2x { font-size: 2rem; }
    .tm-tab-link .tm-media-link { font-size: 1.4rem; }
}

@media (max-width: 575px) {
    .container { max-width: 540px; }
    .form-inline .form-control.tm-search-input {
        width: 100%;
        margin-bottom: 20px;
    }

    .tm-search-submit {
        margin-left: auto;
        margin-right: auto;
    }

    .tm-albums-container {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .tm-contact-left,
    .tm-contact-middle {
        flex: 0 0 100%;
    }

    .tm-contact-middle {
        margin-top: 20px;
    }

    .tm-contact-middle,
    .tm-contact-right {
        padding: 35px 30px;
    }
}

@media (max-width: 500px) {
    .media { flex-direction: column; }
    .media-body { margin-top: 15px; }
}

@media (max-width: 420px) {
    .tm-subscribe-input { width: 260px; }
    .tm-fa-big { font-size: 3rem; }
    .tm-fa-mb-big { margin-bottom: 1.5rem; }
    .tm-site-name { font-size: 2.4rem; }
    .tm-site-description { font-size: 1.2rem; }
}











